<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=<device-width>, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h3>New chat</h3>
    <form method="POST" action="/chats">
        <input placeholder="You are" name="from">
        <textarea name="msg">Writ msg</textarea>
        <input placeholder="Add reciever" name="to">
        <button>Submit </button>
    </form>
    
</body>
</html>